* {
  font-family: Georgia, Palatino, serif;
}

html {
  min-height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  background-color: rgb(253, 245, 241);
  background-image: url("images/footer.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

.title {
  
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
}

#main {
  width: 800px;
  margin-left: 20px;
  margin-top: 20px;
}

#main p {
  line-height: 22px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  line-height: 22px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  margin-top: 10px;
  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 22px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 22px;
}
