html, body {
  margin: 0;
}

body {
  background-color: rgb(253, 245, 241);
  
  font-family: Georgia, Palatino, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.title {
  text-align: center;
}

#content {
  flex: auto;
  display: flex;
  justify-content: center;

  padding-top: calc(env(safe-area-inset-top) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  padding-left: calc(env(safe-area-inset-left) + 20px);
}

#sidebar {
  padding: 30px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  line-height: 22px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  line-height: 22px;
}

#main {
  width: 800px;
  padding-left: 20px;
  padding-top: 20px;
}

#main p {
  line-height: 22px;
}

#main ul, #main ol {
  margin: 20px;
}

#main ul {
  list-style-type: square;
}

#footer {
  margin-top: 60px;
  display: flex;
  justify-content: right;
  justify-items: end;
}

@media screen and (max-width: 1000px) {
  #main {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  #content {
    flex-direction: column;
    justify-content: start;
  }

  #main {
    padding: 0;
    width: 100%;
  }

  #sidebar {
    padding: 0;
    text-align: center;
    border-right: none;
  }

  #sidebar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #sidebar li {
    margin-left: 6px;
    margin-right: 6px;
  }
  
  #sidebar h2 {
    display: none;
  }
}